boto3
celery
channels
channels-redis
daphne
Django
django-channels
django-cors-headers
django-storages
djangorestframework
djangorestframework-simplejwt
dnspython
drf-yasg
email_validator
gunicorn
pillow
psycopg2-binary
pydantic
pydantic_core
PyJWT
pyOpenSSL
python-dateutil
python-decouple
python-dotenv
redis
requests
requests-oauthlib
s3transfer
service-identity
websockets
django-rest-framework-nested
django-debug-toolbar
whitenoise
azure-core
azure-storage-blob
firebase-admin
drf_spectacular